html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Inter", sans-serif;
}

h1 {
    text-shadow: 0 0 5px #353535;
}

#main-container {
    background: #6943FF;
    color: #FFFFFF;
    font-size: 14px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 30%;
}

input {
    color: #353535;
    border: 2px solid #B295FF;
    border-radius: 5px;
    width: 150px;
    margin: 10px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 10px 0;
}

button {
    background: #FFFFFF;
    box-shadow: 2px 2px 2px;
    color: #353535;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding: 8px 0;
    width: 155px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

#result-container {
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    flex: 1;
}

.results {
    margin: 30px 30px;
    width: 700px;
}

#result-box {
    background-color: #FFFFFF;
    padding: 5px;
    margin: 15px 0 15px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #353535;
}

.result-title {
    color: #5A537B;
}

.result-answer {
    color: #353535;
    font-size: 14px;
}